.title {
  margin: 20px;
  padding-bottom: 25px;
  text-decoration: underline;
  font-weight: bold;
}

.list-flex {
  display: flex;
  justify-content: space-between;
}

footer {
  margin: 20px;
  color: gray;
}

footer p {
  font-size: 15px;
}

.fa-code {
  color: darkgrey;
}

.fa-heart {
  color: red;
}

.fa-twitter {
  color: #1c88cb;
}